@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');
* {
  /* outline: 1px solid blue; */
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  position: relative;
}

#container-bg {
  position: absolute;
  top: 0;
  /* opacity: .9; */
}

#quote-box {
  width: 40%;
  margin: auto;
  height: 16rem;
  margin: calc(50vh - 8rem) auto;
  padding: 1.5rem 1.25rem;
  border: .125rem solid white;
  border-radius: .4rem;
  color: white;
  position: relative;
}

.image-cropper {
  padding: 0;
  margin: 0;
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  overflow: hidden;
  float: left;
}

.avatar {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

#author {
  font-size: .875rem;
  padding-left: .5rem;
  display: inline-block;
}

#text {
  clear: both;
  font-size: 1.25rem;
  padding-top: .625rem;
}

#tweet-btn {
  cursor: pointer;
  display: inline-block;
}

button {
  cursor: pointer;
  background: #fff;
  width: 4rem;
  height: 2.4rem;
}

img .right-column {
  float: left;
}

@media only screen and (max-width: 800px) {
  #quote-box {
    width: 60%
  }
}

@media only screen and (max-width: 500px) {
  #quote-box {
    width: 90%
  }
}